/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.github.pdvrieze.xmlutil-core-0.86.1-commonMain-9dSBuA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.github.pdvrieze.xmlutil-core-0.86.1-nativeMain-9dSBuA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.github.pdvrieze.xmlutil-serialization-0.86.1-commonMain-Zv_u3A.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.github.pdvrieze.xmlutil-serialization-0.86.1-nativeMain-Zv_u3A.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-2.3.4-commonMain-eP8Hng.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-2.3.4-posixMain-eP8Hng.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-2.3.4-darwinMain-CnRCQQ.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-2.3.4-commonMain-_htHDg.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-2.3.4-commonMain-QgEQ0Q.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-2.3.4-posixMain-QgEQ0Q.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-2.3.4-commonMain-swEJtw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-2.3.4-darwinMain-sbySvA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-2.3.4-posixMain-swEJtw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-2.3.4-commonMain-NxrIfg.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-2.3.4-commonMain-jdPpcw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-2.3.4-darwinMain-kaBnRw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-2.3.4-nixMain-jdPpcw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-2.3.4-posixMain-jdPpcw.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-2.3.4-commonMain-8xBQEg.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-2.3.4-commonMain-8-9-_g.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-2.3.4-posixMain-8-9-_g.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-core-0.7.3-commonMain-7_3Y1w.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-core-0.7.3-darwinMain-IUqWOA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-core-0.7.3-nonJvmMain-7_3Y1w.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-image-0.7.3-commonMain-QcnVlA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-image-0.7.3-darwinMain-dk4Bdg.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/media.kamel-kamel-image-0.7.3-nonJvmMain-QcnVlA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.21.0-commonMain-Uv6OuA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.21.0-nativeMain-Uv6OuA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.7.3-commonMain-R50ueQ.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.7.3-concurrentMain-R50ueQ.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.7.3-nativeDarwinMain-NVh8pQ.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.7.3-nativeMain-R50ueQ.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.5.1-commonMain-JVxaSA.klib
/.gradle/kotlin/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.5.1-nativeMain-JVxaSA.klib
